
@import "bulma/css/bulma.min.css";

html, body {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: absolute;
}

.justified {
  display:  flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}